\chapter*{Posizioni}
\begin{longtable}{| r l || c c c c | }
\hline
\multicolumn{2}{| c ||}{\textbf{ID}} & \textbf{Box} & \textbf{Vass.} & \textbf{Riga} & \textbf{Col.}\\
\hline
\hline
\endhead
%POSIZIONI
\hline
\caption{Posizioni} \\
\end{longtable}
